*{
    padding: 0;
    margin:0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.logo{
    margin-top:10px;
    margin-left:20px;
    width:50px;
}
span{
    position:absolute;
    top:2%;
    left:6%;
    text-transform:uppercase;
    font-size:30px;
    font-family:"cursive";
}
.navbar{
   display:flex;
   justify-content:space-between;
}
.navbar ul{
      margin-top:20px;
}
.navbar li{
    display:inline;
    margin-right:10px;
    margin-top:40px;
}
.navbar li a{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    font-family:"cursive";
}
/* .navbar li a:hover{
    border-radius: 25px;
    background-color:orange;
    padding: 10px 15px ;
} */
.highlight{
    font-size:18px;
    font-weight: bolder;
    border-radius: 25px;
    background-color:green;
    padding: 10px 15px ;
    word-spacing:5px;
}
.link{
    text-decoration:none;
    color:white;
}

.header{
    position:relative;
    top: 20%;
    left:5%;
    font-size:90px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase;
    color:white;
}
.Image{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/7.jpg);
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}
.shop{
    position:relative;
    top: 25%;
    left:5%;
}
.btn{
    font-size:20px;
    padding: 7px 50px;
    text-transform: uppercase;
    border-radius:25px;
    background:transparent;
    color:white;
    border:2px solid coral;
    cursor:pointer;
}

/* IMAGES */
.Image1{
    height:50vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/4.jpg);
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    
    
}
.container{
    width:100%;
    /* border:1px solid white; */
    display:grid;
    margin-top:30px;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.griditem1{
    /* border:2px solid white; */
    display:grid;
    grid-template-rows:2fr 1fr;
    height:650px;
    width:340px;
   margin-left:15px;
   border-radius:30px;
   transition: all 0.5s ease-in-out;
}
.griditem1:hover{
    margin-top:30px;
}
.first-image{
    /* border:5px solid red; */
    background-image: url(../images/shoe.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:10px;
}
.lorem{
    margin-top:35px;
}
.size{
    margin-top:20px;
    font-size:20px;
}
.span-box{
      margin-top:20px;
}
.span-box ul{
    list-style:none;
}
.span-box ul li{
    display:inline;
    border: 1px solid white;
    padding:10px 10px;
    border-radius:10px; 
    font-weight:bold;
    font-size:18px;
}
.name1{
    margin-top:10px;
    text-transform:uppercase;
    margin-left:12px;
    color:grey;
}
.name2{
    margin-top:5px;
    margin-left:20px;
    font-size:45px;
}
.name3{
    margin-left:20px;
    font-size:20px;
}
.number{
    background-color:black;
    color:white;
}
.PriceTag{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-bottom:10px;
}
.price{
    /* border:1px solid white; */
    /* margin-bottom:50px; */
    font-size:40px;  
}
.title{
    margin-top:30px;
    font-weight:bold;
    font-size:15px;
}
.shoe-btn{
    margin-bottom:20px;
}
.shoe-button{
    background-color:black;
    color:white;
    padding:10px 30px;
    border-radius:12px;
    text-align:center;
    cursor:pointer;
}
.child1{
    /* border:1px solid white; */
    display:grid;
    grid-template-rows:repeat(1fr,4);
    border-radius:30px;
}
/* ABOUT */
.Image1{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/4.jpg);
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}










/* Contact */
.image2{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/background.jpg);
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}
.form-box{
    width:500px;
    border: 1px solid white;
    border-radius:20px;
     position:relative;
     left:34%;
     top:10%;
    height: 520px;
    text-align:center;
}
.logo-2{
    margin-top:30px;
    width:70px;
}
.Sign-in{
    font-weight:bold;
    margin-top:10px;
}
.info{
      font-weight:lighter;
      margin-top:10px;
}
.label1{
    margin-top:30px;
}
input[type='email']{
    width: 80%;
    /* padding:10px 140px; */
    border-radius:20px;
    padding:10px;
}
input[type='password']{
    padding:10px;
    width:80%;
    border-radius:20px;
}
.label2{
    margin-top:20px;
}
.tick{
    width: 100%;
    /* border:1px solid white; */
    display: grid;
    grid-template-columns:2fr 2fr;
    margin-top:20px;
}
.remember{
    /* border:1px solid white; */
    width:120px;
    margin-right:40px;
}
.check{
    /* border:1px solid white; */
    margin-left:30px;
    display: grid;
    grid-template-columns:0.4fr 0.7fr;
}
.pass a{
    color:white;
    margin-top:5px;
    text-decoration:none;
}
.sign{
    width: 60%;
    border: 1px solid black;
    border-radius:25px;
    background-color:black;
    color:white;
    padding:10px 10px;
    margin-top:20px;
    margin-left:80px;
    font-family:"fantasy";
    cursor:pointer;
}
.last-section{
    margin-top:20px;
    display:grid;
    grid-template-columns:1fr 1fr;
}
.account{
    text-decoration:none;
    color:white;
}
.social-links{
    /* border:1px solid white; */
    height:70px;
 
}
.social-links ul{
    list-style:none;
    transition:all 0.5s ease-in-out;
}
.social-links ul li{
     display: inline;
     cursor:pointer;
  
}
.fb{
    margin-top:30px;
    margin-right:20px;
    width:30px;
}
